<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>

<h1>Student Registration </h1>


<form action="Student" method="post">
+
	<label for="studentname">Student id :</label>
	<input id="studentname" name="name" type="text" > <br>
	
	<label for="studentage">Student Age :</label>
	<input id="studentage" name="age" type="number" > <br>
	
	<label for="email">Student Email :</label>
	<input id="email" name="email" type="text" > <br>
	
	<label for="gender">Student Gender :</label>
	<input id="gender" name="gender" type="text" > <br>

     <label for="phn">Phone Number :</label>
     <input id="phn" name="phone_number" type="text" ><br>
     
     
     
     
     <input type="submit" name="submit" value="Submit">

</form>
    
</body>
</html>